.btn-social-circle {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
  color: #FFF;
  width: 80px;   /* 円の横幅  */
  height: 80px;  /* 円の縦幅  */
  line-height: 75px;/* アイコンが円のどこにくるか  */
  padding: 5px;
  font-size: 25px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  box-shadow: inset 0 2px 0px rgba(255, 255, 255, 0.25), inset 0 -2px 0px rgba(0, 0, 0, 0.18);
  transition: .2s;
}
.btn-social-circle .fa {
  line-height: 30px;
}
.btn-social-circle:hover {
  box-shadow: none;
}

.btn-social-circle--twitter {
  background: #1da1f3;
  border: solid 5px #1da1f3;  /*  枠の太さ  */
}

.btn-social-circle--github {
  background: #000000;
  border: solid 5px #000000;
}
.btn-social-circle i{
  font-size: 45px;   /* 中のアイコンの大きさを変化  */
}
