* {
  margin:0; padding:0;
}
body {
font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'
}
header {
  height: 100px;
  width: 100%;
  padding: 15px 0;
  background-color: #337079;    /*  背景色  */
  color: white;                 /*  文字の色  */
}
header .headline{
    line-height: 100px;
    float: left;
    font-size: 30px;
    margin-left: 100px;
}
.nav-list {
    line-height: 100px;
    float: left;
    margin-left: 30px;
    list-style: none;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
main {
  height: 100px;
  width: 100%;
  padding: 25px; /**/
  background-color: #e6e6fa;
  color: black;
}
main .resizeimage img {
  width: 200px;
  border-radius: 50%; /* 角丸半径を50%にする(=円形にする) */
  vertical-align: middle;
}


main .description{
    line-height: 100px;
    float: left;
    font-size: 30px;
    margin-left: 20%;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #174a5c;
    color: white;
    text-align: center;
}
ul.footer-menu li {
display: inline;
}


ul li, ol li {
  color: #404040;
  border-left: solid 6px #1fa67a;/*左側の線*/
  border-bottom: solid 2px #dadada;/*下に灰色線*/
  background: whitesmoke;
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;/*ポチ消す*/
  font-weight: bold;
  width: 60%;

}

.li__text {
    font-size: 16px;
    /*font-weight: bold;*/
    margin-bottom: 10px; /* 見出しと本文の間隔  */
    width: 60%;
  	height: 300px;
}
